.kotak1 {
  background: #2b08c9;
  color: white;
  height: 300px;
  padding-top: 100px;
  padding-left: 135px;
  padding-bottom: 80px;
}
.judul {
  text-align: left;
  padding-left: 450px;
  margin-top: 35px;
  font-size: 46px;
}
.peta-col-md6-row{
  margin-left: 0%;
}

.peta {
  margin-top: 80px;
  margin-bottom:40px;
  justify-content: left;
  padding-left: 135px;
  padding-right: 130px;
  display: flex;
  text-align: left;
  padding-bottom: 80px;
  padding-top: 80px;
}
.kantor{
  color: black;
}
.kami{
  color: orange;
}
.tombolkirim{
  padding-left: 60px;
}
.textinfo{
  padding-left: 60px;
  padding-bottom: 10px;
}
.reporttext{
  padding-left: 60px;
}
.paragrafopas{
  opacity: 75%;
  color: white;
}


.reportbox{
  background-color: azure;
}
.penutup{
  padding-top: 80px;
}
