
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .login-form {
    background-image: url("/assets/images/backregisterbaru.webp");
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    overflow: hidden;
  }
  
  /* tampilan body */
  body {
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  
  /* gradasi body */
  body::after {
    content: "";
    position: absolute;
    display: block;
    // background: linear-gradient(to top, #2c323f, #282c349d);
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: -1;
  }

  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: center;
  }

  /* kartu dalam wadah */
  .container .card-login {
    padding: 100px 40px;
    position: center;
    z-index: 4;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.082); /* latar belakang dengan keburaman */
    backdrop-filter: blur(4px); /* efek blur dengan backdrop filter */
    border-radius: 30px;
  }
  
  .container .card-login h1 {
    text-align: center;
    color: cyan;
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 25px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  form .input-group {
    margin: 0 auto;
    text-align: left;
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
    width: 100%;
    flex-direction: column;
    color: white;
  }
  
  form .input-group input {
    border: none;
    background-color: white;
    border-radius: 6px;
    padding: 9px;
  }
  
  form .btn-group {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 15px;
  }
  
  form .btn-group .btn {
    padding: 9px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  
  form .btn-group .btn-login {
    background-color:  #1253b4;
  }
  
  form .btn-group .sosmed {
    position: relative;
    display: flex;
    margin: 0 auto;
    gap: 12px;
    margin-top: 25px;
  }
  form .btn-group .sosmed a {
    text-align: center;
    color: white;
    font-size: 23px;
    position: relative;
    transition: 0.3s;
  }
  
  form .btn-group .sosmed::before {
    content: "";
    display: flex;
    top: 50%;
    position: absolute;
    height: 1px;
    width: 40%;
    left: -50px;
    background-color: #d4dde2;
  }
  form .btn-group .sosmed::after {
    content: "";
    display: flex;
    top: 50%;
    position: absolute;
    height: 1px;
    width: 40%;
    right: -50px;
    background-color: #d4dde2;
  }
  
  form .btn-group .sosmed a:hover{
      color: cyan;
      transform: scale(1.2);
  }
  
p {
    text-align: left;
    margin-top: 20px;
}

p a {
    color: #1f07a8;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
