
.navbar {
  background-color: #fff;
  height: 55px;
  margin: 20px;
  border-radius: 16px;
  padding: 0.5rem;
}

.nav-item {
  padding-inline: 20px;
}

.nav-link {
  font-weight: 500;
  font-size: 17px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus, .btn-close:focus {
  box-shadow: none;
  outline: none;
}

.dropdown-item {
  font-weight: 500;
  font-size: 17px;
}