body {
    font-family: Arial, sans-serif;
    background-color: #fcfcfc;
}

.Register-form{
background-image: url('/assets/images/backregisterbaru.webp');
background-size: cover; 
background-position: center; 
height: 100vh;
overflow: hidden;
}

.container-reg {
    width: 500px;
    margin-top: center;
    background-color: rgba(255, 255, 255, 0.082);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(14, 6, 6, 0.1);
}

.title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
    color: cyan;
}

.form-group {
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group {
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #888;
}

.help-text {
    color: #888;
    font-size: 14px;
}

.btn-submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #2d5b8d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #1253b4;
}

