@import 'global.scss';
@import 'navbar.scss';
@import 'card.scss';
@import 'contact.scss';
@import 'about.scss';
@import 'modal.scss';
@import 'profile.scss';
@import 'login.scss';
@import 'register.scss';